html, body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: gray;
}

flash-cards-app {
  width: 100%;
  height: 100%;
  overflow: auto;
}

:root {
  --button-bg-color: orange;
  --button-text-color: white;
}
