:host {
  display: block;
}
form input {
  display: block;
  margin-bottom: 1em;
}
form label {
  float: left;
  margin-right: 0.5em;
}
button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}
